.profile__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 620px) {
  .profile__container {
    flex-direction: column;
  }
}
