.card__basket {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/basket.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.card__basket_visible {
  display: block;
}

.card__basket_hidden {
  display: none;
}
