.profile__block {
    position: relative;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 550px) {
    .profile__block {
        flex-direction: column;
        align-items: center;
    }
}