.register {
  display: flex;
  justify-content: center;
}

.register__content {
  max-width: 358px;
  text-align: center;
  margin-top: 60px;
}

.register__title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.register__form-field {
  margin-top: 30px;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  min-height: 27px;
  width: 100%;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: black;
}

.register__button {
  margin: 216px 0 15px;
  width: 358px;
  height: 50px;
  background: #ffffff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  border: none;
}

.register__already {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.register__log-in {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
