.register__form-field {
  margin-top: 30px;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  min-height: 27px;
  width: 100%;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: black;
}